html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  background: #837c82;
}


header{
  background: #e01f30;
  height: 100px;
}

main {
  background: #9e25da; 
  height: 100px;
}

aside{
  background: #39c68a; 
  height: 100px;
}

footer{
  background: #1d1fe2;
  height: 100px;
}

.container{
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20hv 70vh 10vh;
}

