html, body {
  box-sizing: border-box;
  margin:0;
  padding:0;

  width: 100%;
  height:100%;
}

.container{
  display: grid;

  background: black;

  width: 100vw;
  height: 100vh;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-gap: 5px;

  justify-items: center;
}

.container > div {
  display: grid;

  background: #7159c1;
  color: #FFF;

  border-radius: 8px;
  width: 50%;
  height: 50%;
  justify-items: center;
  align-items: center;
  margin: 5px 5px;
}

.center{
  align-self: end;
}

.center-top{
  align-self: start;
}



